In [9]:
import requests as rq
import csv
import pandas as pd
import numpy as np

In [10]:
def read_remote_csv(url):
    # read csv from url
    response = rq.get(url)
    csv_reader = csv.reader(response.text.split('\n'), delimiter=',')
    header = next(csv_reader)

    csv_data = [row for row in csv_reader]
    return pd.DataFrame.from_records(csv_data, columns=header)


nyc_cab_rides = read_remote_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv')

In [11]:
nyc_cab_rides.head() # = pd.DataFrame.from_records(nyc_cab_rides)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7,0.5,0.5,1.65,0,0.3,9.95,
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14,0.5,0.5,1,0,0.3,16.3,
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,.00,1,N,236,236,1,4.5,0.5,0.5,0,0,0.3,5.8,
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,.00,1,N,193,193,2,3.5,0.5,0.5,0,0,0.3,7.55,
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,.00,2,N,193,193,2,52,0,0.5,0,0,0.3,55.55,

In [12]:
taxi_zone_lookup_url = read_remote_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')